In [1]:
 #____________________________________________________PRINT____________________________________________________#

In [2]:
#fungsi print dengan tanda petik satu
print('Halo, perkenalkan nama saya Dewa Ayu.')

Halo, perkenalkan nama saya Dewa Ayu.

In [3]:
#fungsi print dengan tanda petik dua
print("Saya adalah mahasiswa program studi Matematika, Universitas Udayana.")

Saya adalah mahasiswa program studi Matematika, Universitas Udayana.

In [8]:
#fungsi print dengan tanda petik di tengah kalimat
print("Rektor tidak boleh menerima "amplop".")

SyntaxError: invalid syntax (3586808056.py, line 2)

In [9]:
#kode fungsi print di atas salah, karena tanda petik yang digunakan 
#untuk memetik seluruh kalimat harus berbeda dengan tanda petik di tengah kalimat
#sebagai contoh :
print('Rektor tidak boleh menerima "amplop".')

Rektor tidak boleh menerima "amplop".

In [6]:
#fungsi print dengan variabel 
buah = 'apel fuji'  #*jangan lupa tanda petik jika dalam variabel berisi kata*
harga_buah = 15000
print(buah)
print(harga_buah)

apel fuji
15000

In [11]:
#____________________________________________________INPUT____________________________________________________#

#digunakan jika ingin mengambil/mendapat informasi dari pengguna atau orang lain.

In [8]:
nama = input("Siapa nama kamu? Nama saya ")
umur = input("Berapa umur kamu? Umur saya (hanya diisi dengan angka) ")
print("Hello, "+nama+".. Selamat! karena telah bisa melewati masa-masa sulit ini!\
 Mungkin di umur kamu yang ke-"+umur+" tahun ini, \nbanyak hal melelahkan yang kamu alami,\
 but Keep Fighting!, You Can Do It, "+nama+"!")

#pada line ke-3 berisi backslash, digunakan jika kodenya kepanjangan, tetapi output/hasil tetap 1 baris"
#pada line ke-4 berisi \n, berbeda dengan backslash saja, \n digunakan untuk memindahkan kode ke baris selanjutnya 
#dan outputnya pun ikut berpindah ke baris selanjutnya.

Siapa nama kamu? Nama saya Anya
Berapa umur kamu? Umur saya (hanya diisi dengan angka) 19
Hello, Anya.. Selamat! karena telah bisa melewati masa-masa sulit ini! Mungkin di umur kamu yang ke-19 tahun ini,
banyak hal melelahkan yang kamu alami, but Keep Fighting!, You Can Do It, Anya!

In [9]:
#___________________________________________________TIPE DATA___________________________________________________#
    
#terdapat beberapa tipe data yang lumrah yaitu int, float, str, bool dan masih ada tipe data yang lain.

In [ ]:
#----------------tipe data int----------------#

In [9]:
#Membuat judul
print("*Kalkulator Penjumlahan Dua Bilangan Bulat*")
#inisialisasi
angka_pertama = input("Masukkan Angka Pertama: ")
angka_kedua = input("Masukkan Angka Kedua: ")
#menjumlahkan angka
total = int(angka_pertama) + int(angka_kedua) 
print("Hasil penjumlahan dari kedua bilangan tersebut adalah " + str(total)) 
#berisi tipe data str, karena kita harus menjelaskan tipe data dari variabel "total".

*Kalkulator Penjumlahan Dua Bilangan Bulat*
Masukkan Angka Pertama: 12
Masukkan Angka Kedua: 13
Hasil penjumlahan dari kedua bilangan tersebut adalah 25

In [ ]:
#----------------tipe data float----------------#

In [25]:
tb_anya = 155 
tb_ayu = 160,5
jumlah = float(tb_anya) + float(tb_ayu)
print ('Tinggi badan Anya adalah ' + str(tb_anya) + ' cm.')
print ('Tinggi badan Ayu adalah ' + str(tb_ayu) + ' cm.')
print ('Jumlah tinggi badan Anya dan Ayu adalah ' + str(jumlah) + ' cm.')

TypeError: float() argument must be a string or a number, not 'tuple'

In [3]:
#kode di atas error karena kesalahan yang kerap kali saya lakukan ketika awal-awal mengkode, yaitu
#menggunakan tanda koma untuk bilangan desimal. "Seharusnya tanda titik"
#tanda koma dalam kasus di atas dibaca sebagai tipe data str bukan float

In [9]:
tb_anya = 155 
tb_ayu = 160.5
jumlah = float(tb_anya) + float(tb_ayu)
print ('Tinggi badan Anya adalah ' + str(tb_anya) + ' cm.')
print ('Tinggi badan Ayu adalah ' + str(tb_ayu) + ' cm.')
print ('Jumlah tinggi badan Anya dan Ayu adalah ' + str(jumlah) + ' cm.')

Tinggi badan Anya adalah 155 cm.
Tinggi badan Ayu adalah 160.5 cm.
Jumlah tinggi badan Anya dan Ayu adalah 315.5 cm.

In [2]:
#bisa juga dengan perintah input 
tb_anya = input('Masukkan tinggi badan Anya: ')
tb_ayu = input('Masukkan tinggi badan Ayu: ')
jumlah = float(tb_anya) + float(tb_ayu)

print ('Jumlah tinggi badan Anya dan Ayu adalah ' + str(jumlah) + ' cm.')

Masukkan tinggi badan Anya: 155
Masukkan tinggi badan Ayu: 160.5
Jumlah tinggi badan Anya dan Ayu adalah 315.5 cm.

In [ ]:
#----------------tipe data str----------------#
#tipe data ini sering digunakan pada kode-kode sebelumnya

In [5]:
#...contoh 1...
tanggal = input('tanggal hari ini: ')
bulan = input('bulan: ')
tahun = input('tahun: ')
print ('Hari ini tanggal '+ tanggal + '/' + bulan + '/' + tahun)
#semua data pada kode ini menggunakan tipe data str

tanggal hari ini: 19
bulan: Maret
tahun: 2023
Hari ini tanggal 19/Maret/2023

In [9]:
#...contoh 2...
tb_anya = 155 
tb_ayu = 160.5
jumlah = str(tb_anya) + str(tb_ayu)
print ('Tinggi badan Anya adalah ' + str(tb_anya) + ' cm.')
print ('Tinggi badan Ayu adalah ' + str(tb_ayu) + ' cm.')
print ('Jumlah tinggi badan Anya dan Ayu adalah ' + str(jumlah) + ' cm.')

Tinggi badan Anya adalah 155 cm.
Tinggi badan Ayu adalah 160.5 cm.
Jumlah tinggi badan Anya dan Ayu adalah 155160.5 cm.

In [ ]:
#pada kasus di atas, dalam variabel jumlah dicantumkan tipe data str, jadi angka tersebut dipandang sebagai string
#pada tipe data str tanda + berarti menggabungkan kata yang satu dengan yang lainnya
#jadi jumlah yang dihasilkan adalah gabungan dari kata(angka) yang satu dengan yang lainnya

In [11]:
#...contoh 3...
tb_anya = 155 
tb_ayu = 160.5
jumlah = (tb_anya) + (tb_ayu)
print ('Tinggi badan Anya adalah ' + str(tb_anya) + ' cm.')
print ('Tinggi badan Ayu adalah ' + str(tb_ayu) + ' cm.')
print ('Jumlah tinggi badan Anya dan Ayu adalah ' + str(jumlah) + ' cm.')

Tinggi badan Anya adalah 155 cm.
Tinggi badan Ayu adalah 160.5 cm.
Jumlah tinggi badan Anya dan Ayu adalah 315.5 cm.

In [7]:
#dari beberapa contoh kode, yang dapat saya ambil sebagai pelajaran adalah 
#jika dalam variabel terdapat penggabungan yang ditandai dengan tanda + (seperti pada variabel jumlah di contoh 3)
#dan tidak dijelaskan tipe data apa, maka komputer otomatis dengan sendirinya membaca atau menyimpulkan tipe datanya
#ntah int, str ataupun float
#dalam kasus pada contoh 3, dalam variabel jumlah tidak dijelaskan tipe data apa,
#karena bilangannya adalah desimal, maka dibaca sebagai tipe data float
#jadi pada saat dijumlahkan, hasilnya berupa bilangan desimal
#sementara, seperti contoh 2, jika dalam variabel jumlah dijelaskan tipe datanya, maka hasil penjumlahannya menyesuaikan.
#misal pada contoh 4 di bawah ini

In [10]:
#...contoh 4...
tb_anya = 155 
tb_ayu = 160.5
jumlah = int(tb_anya) + int(tb_ayu)
print ('Tinggi badan Anya adalah ' + str(tb_anya) + ' cm.')
print ('Tinggi badan Ayu adalah ' + str(tb_ayu) + ' cm.')
print ('Jumlah tinggi badan Anya dan Ayu adalah ' + str(jumlah) + ' cm.')

Tinggi badan Anya adalah 155 cm.
Tinggi badan Ayu adalah 160.5 cm.
Jumlah tinggi badan Anya dan Ayu adalah 315 cm.

In [11]:
#pada contoh 4, 
#karena tipe data yang digunakan adalah int, maka hasilnya berupa bilangan bulat (bilangan desimal yang dibulatkan)

In [ ]:
#----------------tipe data bool----------------#
#tipe data yang hanya bisa diisi dengan 2 nilai, yaitu True atau False.

In [6]:
#Meskipun tipe data ini hanya bisa diisi dengan 2 nilai, tetapi
#tipe data bool juga bisa dipakai untuk menentukan 
#apakah suatu angka lebih besar dari angka lainnya, atau lebih kecil, atau sama dengan. 
#Contoh : Menentukan Nilai Lebih Besar, Lebih Kecil atau Sama Dengan
bil1 = input('Masukkan bilangan pertama: ')
bil2 = input('Masukkan bilangan kedua: ')
if (bil1 > bil2) :
    print("Bilangan pertama lebih besar dari bilangan kedua")
elif (bil1 < bil2) : 
    print("Bilangan pertama lebih kecil dari bilangan kedua")
else :
    print("Bilangan pertama sama dengan bilangan kedua")

Masukkan bilangan pertama: 12
Masukkan bilangan kedua: 12
Bilangan pertama sama dengan bilangan kedua

In [5]:
#_________________________________________________FORMATTED STRING_________________________________________________#

In [11]:
# Berdasarkan dari beberapa sumber yang saya baca, terdapat 2 cara penulisan atau metode dalam Formatted String yaitu:
# 1. Metode Format
# 2. Metode f-string

In [ ]:
#------------Metode Format------------#

In [12]:
matkul1 = "Algoritma dan Struktur Data"
matkul2 = "Kalkulus II"
matkul3 = "Statistika Dasar"
print("Jadwal Mata Kuliah Hari Senin")
print("Mata kuliah jam pertama adalah {} \nMata kuliah jam kedua adalah {} \nMata kuliah jam ketiga adalah {}"\
    .format(matkul1, matkul2, matkul3))

Jadwal Mata Kuliah Hari Senin
Mata kuliah jam pertama adalah Algoritma dan Struktur Data
Mata kuliah jam kedua adalah Kalkulus II
Mata kuliah jam ketiga adalah Statistika Dasar

In [12]:
#dapat juga menggunakan perintah input
ayu = input("Nilai Ayu: ")
lian = input("Nilai Lian: ")
anya = input("Nilai Anya: ")
print("Jadi, nilai UAS Ayu, Lian dan Anya adalah {}, {} dan {}.".format(ayu, lian, anya))

Nilai Ayu: 100
Nilai Lian: 90
Nilai Anya: 98
Jadi, nilai UAS Ayu, Lian dan Anya adalah 100, 90 dan 98.

In [13]:
print("*Kalkulator Penjumlahan Dua Bilangan Bulat*")
#inisialisasi
angka_pertama = input("Masukkan Angka Pertama ")
angka_kedua = input("Masukkan Angka Kedua ")
#menjumlahkan angka
total = int(angka_pertama) + int(angka_kedua) 
print("Hasil penjumlahan dari {} dan {} adalah {}".format(angka_pertama,angka_kedua,total))

*Kalkulator Penjumlahan Dua Bilangan Bulat*
Masukkan Angka Pertama 56
Masukkan Angka Kedua 13
Hasil penjumlahan dari 56 dan 13 adalah 69

In [7]:
#------------Metode f-string------------#
#*penulisannya sedikit berbeda dengan metode format*

In [7]:
matkul1 = "Algoritma dan Struktur Data"
matkul2 = "Kalkulus II"
matkul3 = "Statistika Dasar"
print("Jadwal Mata Kuliah Hari Senin")
print(f"Mata kuliah jam pertama adalah {matkul1} \nMata kuliah jam kedua adalah {matkul2} \nMata kuliah jam ketiga adalah {matkul3}")
#tanda petik setelah f dalam perintah print dapat menggunakan tanda petik satu atau petik dua

Jadwal Mata Kuliah Hari Senin
Mata kuliah jam pertama adalah Algoritma dan Struktur Data
Mata kuliah jam kedua adalah Kalkulus II
Mata kuliah jam ketiga adalah Statistika Dasar

In [10]:
#menggunakan perintah input
ayu = input("Nilai Ayu: ")
lian = input("Nilai Lian: ")
anya = input("Nilai Anya: ")
print(f'Jadi, nilai UAS Ayu, Lian dan Anya adalah {ayu}, {lian} dan {anya}.')

Nilai Ayu: 99
Nilai Lian: 90
Nilai Anya: 98
Jadi, nilai UAS Ayu, Lian dan Anya adalah 99, 90 dan 98.

In [5]:
print("*Kalkulator Penjumlahan Dua Bilangan Desimal*")
#inisialisasi
angka_pertama = input("Masukkan Angka Pertama ")
angka_kedua = input("Masukkan Angka Kedua ")
#menjumlahkan angka
total = float(angka_pertama) + float(angka_kedua) 
print(f"Hasil penjumlahan dari {angka_pertama} dan {angka_kedua} adalah {total}")

*Kalkulator Penjumlahan Dua Bilangan Desimal*
Masukkan Angka Pertama 34.9
Masukkan Angka Kedua 32.6
Hasil penjumlahan dari 34.9 dan 32.6 adalah 67.5

In [ ]:
# Sekian dan Terima Kasih #